/* 
    Document   : form
    Created on : 21 juin 2011, 19:52:32
    Author     : yungiii
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

fieldset
{
    border: 1px deepskyblue dotted ;
    padding: 5px;
}

legend
{
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #E7E6E6;
}

label
{
    display: block;
    font-size: 0.65em;
    font-variant: small-caps;
    height: 1em;
}

#sidebar_right legend
{
    font-size: 0.65em;
}

#sidebar_right label
{
    display: block;
}

#sidebar_right input[type=submit], #sidebar_right input[type=reset]
{
    width: 80px;
    margin-right: 3px;
    border: none;
}

.field_wrapper
{
    float: left;
    margin-bottom: 3px;
    line-height: 1em;
}

.label_wrapper
{
    margin-bottom: 3px;
}

.tooltip
{
    display: inline-block;
    background-image: url(../images/classique/theme/error_icon.png);
    background-repeat: no-repeat;
    margin-bottom: 0px;
    min-height: 16px;
    min-width: 16px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px red solid;
    background-color: pink;
    background-position: 5px;
    font-size: 0.5em;
    line-height: 1em;
    color: darkred;
    margin-top: 5px;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 25px;
}

input, select
{
    border: 1px #838383 solid;
    background-color: #eee;
    padding: 2px;
    outline: none;
    width: 13.1em;
}

input:focus, select:focus
{
    border: 1px dodgerblue solid;
    background-color: #D7D7D7;
    padding: 2px;
    outline: none;
}

.correct
{
    border: 1px #4f8700 solid;
    background-color: #e5ffce;
}

.incorrect
{
    background-color: pink;
    border: 1px #DC143C solid;
    outline: none;
    font-weight: bold;
    color: darkred;
}

.incorrect:focus
{
    border: 1px dodgerblue solid;
    padding: 2px;
}