#--------------------------------------------------
# URL pattern : www.siteWeb.com/langue/categorie/(sous_categorie)/titre-article-parametres[].html
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Premier test
# Modifier la règle de rewrite pour la mise en PROD => pas besoin du chemin complet [test_rewrite/test.html => suffit] !!!

# Article avec numéro de page:
#RewriteRule ^([a-zA-Z]{2,2})/?([a-zA-Z]+)?/([a-zA-Z]+)?/?$ ?langue=$1&categorie=$2&sous_categorie=$3 [L]
RewriteRule ^([a-zA-Z]{2,2})/(Admin)/([a-zA-Z]+)/([a-zA-Z]+)/([0-9]+)?/?$ ?langue=$1&categorie=$2&sous_categorie=$3&article=$4&id_article=$5 [L]
RewriteRule ^([a-zA-Z]{2,2})/?([a-zA-Z]+)?/?([a-zA-Z]+)?/?[\/]([a-zA-Z-]+)?/?([0-9]+)?/?([0-9]+)?/?$ ?langue=$1&categorie=$2&sous_categorie=$3&article=$4&paginator=$5&sous_paginator=$6 [L]