/* 
    Document   : classique
    Created on : 25 sept. 2010, 23:14:58
    Author     : yungiii
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body
{
    /*
    background-image: url(../images/classique/theme/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
}

div
{
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 1em;
}

#conteneur
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#info
{
    border: 1px solid #838383;
    font-size: 1em;
}

#wrapper_menu_admin, #wrapper_sous_menu_admin, #wrapper_sous_menu_navigation
{
    border: 1px deepskyblue solid;
    width: 998px;
    min-height: 20px;
}

        #wrapper_sous_menu_admin li, #wrapper_sous_menu_navigation li
        {
            display: inline;
            font-size: 1em;
            padding: 0.5em;
        }

#wrapper_menu_langue
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    line-height: 0.3em;
    font-size: 1em;
    padding-left: 0.5em;
    text-align: left;
}

        #wrapper_menu_langue li
        {
            display: inline;
            font-size: 1em;
        }

                #wrapper_menu_langue li a
                {
                    display: block;
                    margin-top: -30px;
                    float: right;
                    width: 30px;
                    background: url(../images/classique/theme/fd_onglets.png) repeat-x #e7e6e6;
                    border: 1px deepskyblue solid;
                    border-bottom: 1px grey solid;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    font-variant: small-caps;
                    font-size: 1.3em;
                    color: white;
                    font-weight: bolder;
                    text-align: center;
                    margin-right: 0px;
                }

#header
{
    border: 1px #838383 solid;
    min-height: 150px;
    line-height: 1.2em;
}

        #header #title
        {
            padding-top: 2em;
            padding-left: 1em;
        }

	#wrapper_menu_navigation
	{
            margin: 0px;
            padding: 0px;
            list-style: none;
            line-height: 0.3em;
            font-size: 1em;
            margin-top: 70px;
            padding-left: 0.5em;
            text-align: left;
            height: 43px;
	}
	
		#wrapper_menu_navigation li
		{
                    display: inline;
                    font-size: 1em;
		}
		
			#wrapper_menu_navigation li a
			{
                            display: block;
                            float: left;
                            padding-left: 10px;
                            padding-right: 10px;
                            background: url(../images/classique/theme/fd_onglets.png) repeat-x #e7e6e6;
                            border: 1px deepskyblue solid;
                            border-bottom: 1px grey solid;
                            padding-top: 1em;
                            padding-bottom: 1em;
                            font-variant: small-caps;
                            font-size: 1.3em;
                            color: white;
                            font-weight: bolder;
                            text-align: center;
                            margin-right: -1px;
			}

#content
{
    border: 1px #838383 solid;
    min-height: 350px;
    line-height: 1.2em;
    background: #e7e6e6;
    padding: 1em;
}

    #content #contenu_site
    {
        float: left;
        width: 718px;
        min-height: 350px;
        margin: 0px;
        line-height: 1em;
	font-size: 1em;
        border: 1px deepskyblue solid;
	margin-right: 1em;
        padding: 0.5em;
    }

    #content #sidebar_right
    {
        float: left;
        width: 208px;
        min-height: 350px;
	margin: 0px;
        line-height: 1em;
	font-size: 1em;
        border: 1px deepskyblue solid;
        padding: 0.3em;
    }

    .wrapper_sidebar
    {
        font-size: 1em;
    }

        .wrapper_sidebar #infos_website
        {
            list-style: square;
            list-style-position: inside;
            font-size: 10px;
            line-height: 1.2em;
        }

            #infos_website li
            {
                font-size: 1.2em;
            }

#footer
{
    border: 1px #838383 solid;
    min-height: 150px;
    line-height: 1.5em;
}