/* 
    Document   : main
    Created on : 25 sept. 2010, 22:55:22
    Author     : yungiii
    Description: Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

*
{
    margin: 0px;
    padding: 0px;
    border: none;
}

body
{
    background: #f1f1f1;
    font-family: 'Trebuchet MS', sans-serif;
    color: dodgerblue;
    font-size: 10px;
    line-height: 10px;
}

h1 h2 h3 h4
{
    padding: 0px;
    margin: 0px;
    line-height: 0px;
}

.wrapper
{
    display: block;
    width: 98%;
    min-height: 10px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 0px;
    border: 1px red solid;
}

.fleft
{
    float: left;
    margin-bottom: 0px;
}

.clear
{
    clear: both;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.datagrid td
{
    border: #838383 1px solid;
}

.pagination
{
    font-size: 0.5em;
    font-weight: bold;   
}
    .pagination li
    {
        float: left;
        padding: 0.5em;
        border: 1px dodgerblue solid;
        margin: 0.2em;
        background-color: #838383; 
        list-style: none;
    }
    
        .pagination li a
        {
            color: white;
        }

